/* HEADER */

@font-face {
	font-family: 'Vedo';
	src: url('vedo-font.woff') format('woff');
}

body {
	font-family: Lato, sans-serif;
}

ul {
	list-style: none;
}

a,
a:hover
{
	text-decoration: none;
	color: #00AEEE;
}

.reg-price span.woocommerce-Price-amount {

	color: #999999 !important;
	font-size: .8em;
	text-decoration: line-through;
}

.sale-price span.woocommerce-Price-amount {
	font-weight: 700;
	font-size: 1.2em !important;
}

/* Top Navigation */

.vedo-before-header {
	height: 35px;
	padding: 0 30px;
	font-family: Lato, sans-serif;
	position: relative;
	z-index: 10;
}

.top-menu-container {
	display: block;
}

.secondary-navigation {
	display: inline-block;
	position: absolute;
	right: 30px;
}

.secondary-navigation li {
	list-style: none;
	display: inline-block;
	padding: 0 12px;
}

.secondary-navigation li a {
	line-height: 35px;
}

.secondary-navigation li:hover,
.secondary-navigation li a:hover {
	text-decoration: none;
	opacity: .8;
	transition: .3s;
}

.top-contact {
	position: relative
}

.top-contact span:nth-child(2),
.top-contact span:last-child
{
	font-family: Lato, serif;
	font-weight: normal;
	display: inline-block;
	line-height: 35px;
}

.top-contact span:nth-child(2) {
	font-size: 19px;
}

.top-contact i {
	font-size: 23px;
	display: inline-block;
	line-height: 35px;
	font-weight: normal;
	margin-right: 5px;
	margin-left: 15px;
}

.site-header {
	width: 100%;
	border: none !important;
	box-shadow: 0 0 9px 0 #ADADAD;
	margin: 0 0 20px 0 !important;
	position: relative;
	height: 75px;
}

.vedo-header {
	width: 90%;
	margin: auto;
	display: block;
}

.site-title {
	font-size: 38px;
	font-weight: bold;
	color: black;
	line-height: 75px;
}

/* Search Form */

.vedo-search {
	width: 100%;
	height: 45px;
	background: white;
	display: block;
	margin-top: 12.5px;
	border-radius: 30px;
	position: relative;
	overflow: hidden;
}

.vedo-search input[type=text] {
	border: none;
	outline: none;
	float:left;
	width: 60%;
	height: 45px;
}

.vedo-search label {
	width: 33%;
	height: 45px;
	position: relative;
}

.vedo-search select {
	border-left: 1px solid #adadad;
	background: #FFFFFF;
	outline: none;
	width: 100%;
	height: 45px;
	padding-left: 10px;
	position: absolute;
	-moz-appearance:none;
    -webkit-appearance:none;
	appearance: none;
}

.vedo-search label:after {
	content: '\f078';
	font-family: FontAwesome;
	line-height: 45px;
	color: #000;
	position: absolute;
	right: 10px;
}

.vedo-search select i {
	color: red;
}

.vedo-search button {
	width: 10%;
	height: 45px;
	position: absolute;
	float: none;
	right: 0;
	outline: none;
	border: none;
	background: black;
	text-align: center;
	font-size: 24px;
	margin: 0;
	cursor: pointer;
	padding: 0;
	color: white;
}

.vedo-search button:hover {
	opacity: .8;
}

/* Header Buttons */

.header-icons {
	position: relative;
}

.header-icons .header-favorite,
.header-icons .header-cart {
	display: inline-block;
	height: 75px;
	cursor: pointer;
	line-height: 75px;
	font-size: 32px;
	margin: 0 10px;
}

.header-icons .header-favorite {
	width: 40px;
	position: absolute;
}

.header-icons .header-favorite i,
.header-icons .header-cart i {
	line-height: 75px;
	display: block;
	position: absolute;
}

.header-icons .header-favorite {
	left: 50px;
}

.header-icons .header-cart i{
	font-size: 38px;
	line-height: 50px;
}

.header-icons .header-cart i {
	left: 10px;
}

.header-icons .mini-cart {
	width: 50%;
	height: 50px;
	top: 12.5px;
	position: absolute;
	right: 20px;
	box-shadow: 0px 0px 12px 0px rgba(76,76,76,0.2);
}

.header-icons .mini-cart .cart-desc {
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	font-weight: bold;
}

.header-icons .mini-cart .cart-desc span {
	position: absolute;
	float: left;
}

.header-icons .mini-cart .preview-totals {
	width: 20px;
	height: 20px;
	background: red;
	right: 15px;
	top: 5px;
	border-radius: 50%;
	position: absolute;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding-top: 3px;
	color: white;
	line-height: 1;
}

.mini-cart-container {
	width: 400px;
	z-index: -1;
	height: 250px;
	background: white;
	border-radius: 10px;
	box-shadow: 3px 3px 11px 0 #ADADAD;
	position: absolute;
	top: 75px;
	right: -20px;
	opacity: 0;
	transition: .3s;
}

.header-icons .mini-cart:hover ~ .mini-cart-container {
	opacity: 1;
	transition: .3s;
	z-index: 99;
}

.mini-cart-container:hover {
	opacity: 1;
	z-index: 99;
}


/* Category Navigation Homepage */

.category {
	display: block;
	padding: 0;
	width: 100%;
	border-radius: 15px;
	height: 500px;
	min-height: 450px;
}

.category h3 {
	font-weight: bold;
	color: #fff;
	width: 100%;
	height: 45px;
	line-height: 45px;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}

.category-navigation {
	width: 100%;
	margin: 0;
	position: relative;
	padding: 0 10px;
}

.category-navigation li {
	list-style: none;
	width: 100%;
	position: relative;
	font-weight: 700;
	border-bottom: 1px solid rgba( 78,78,78,.2);
}

.category-navigation li.menu-item-has-children:after {
	content: '\f101';
	font-family: FontAwesome;
	position: absolute;
	right: 5px;
	top: 5px;
	color: rgba(130,130,130, .8);
}

.category-navigation li a {
	padding: 7px 15px;
	width: 100%;
	display: block;
}

.category-navigation li a:hover {
	text-decoration: none;
}

/* sub menu */
.category-navigation ul {
	opacity: 0;
	position: absolute;
	width: 100%;
	background: #fff;
	top: 0;
	right: -100%;
	z-index: -5;
	padding: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 2px 2px 12px 0 rgba( 192,192,192, 1);
	transition: .3s;
}


.category-navigation li:hover ul {
	opacity: 1;
	z-index: 99;
	transition: .3s;
}


.homepage {
	background: #fff;
}


.featured-homepage {

}

/* Slider */

.slider {
	width: 100%;
}

#vedo-slider img {
	width: 100%;
	height: 480px;
	position: relative;
}

#vedo-slider .carousel-caption {
	position: absolute;
	width: 100%;
	height: 480px;
	top: 0;
	left: 0;
}

#vedo-slider .carousel-caption h5 {
	font-weight: bold;
	font-size: 32px;
	position: absolute;
	text-align: left;
	top: 3vh;
	left: 3vw;
}

#vedo-slider .carousel-caption p {
	font-size: 24px;
	position: absolute;
	top: 10vh;
	left: 3vw;
}

#vedo-slider .carousel-caption a {
	position: absolute;
	top: 17vh;
	left: 3vw;
	color: #FFFFFF;
}

/* Featured Content */

.featured-content-homepage div.wrapper {
	width: 100%;
}

.featured-content-homepage div.wrapper:nth-child(1){
	padding-left: 0;
	padding-right: 5px;
}

.featured-content-homepage div.wrapper:nth-child(2) {
	padding: 0 2.5px;
}

.featured-content-homepage div.wrapper:nth-child(3) {
	padding-right: 0;
	padding-left: 5px;

}

.featured-content-homepage section {
	width: 100%;
	
	border-radius: 5px;
	height: 150px;
	padding: 5px;
	position: relative;
	/*box-shadow: 0 0 4px 0 rgba(184, 184, 184, .5);*/
	border: 1px solid rgba(184, 184, 184, .5);
	cursor: pointer;
	bottom: 0;
	transition: .3s;
}

.featured-content-homepage section:hover {
	bottom: 5px;
	transition: .4s;
	box-shadow: 0 0 7px 0 rgba(184, 184, 184, .5);
}

.featured-content-homepage section .title {
	height: 150px;
	position: absolute;
	top: 0;
	left: 0;
}

.featured-content-homepage section .title h6 {
	font-weight: 700;
	font-size: 17px;
	line-height: 22px;
	height: 52px;
	overflow: hidden;
	padding-top: 10px;
}

.featured-content-homepage section .title a {
	background: #FFD30D;
	font-weight: bold;
	padding: 6px;
	display: block;
	margin-top: 5px;
	text-align: center;
	color: white;
}

.featured-content-homepage section .title a:hover {
	background: #444444;
	transition: .1s;
}

.featured-content-homepage section .img {
	width: 100%;
	height: 150px;
	position: absolute;
	top: 0;
	right: 0;
}

.featured-content-homepage section .img img {
	width: 100%;
	height: auto;
	max-height: 100%;
}

.loop-slider {
	width: 100%;
}


.loop-slider .owl-carousel-homepage-slider {
	position: relative;
}

.loop-slider h2 {
	color: #3F3F3F;
}

.loop-slider ul {
	padding: 10px 20px;
	margin: 0;
}

.loop-slider ul li {
	padding: 3px 5px;
	overflow: hidden;
	margin: 10px 0;
}

.loop-slider ul li h2 {
	font-size: 1em;
	margin: .3em .8em;
	font-family: Verdana,sans-serif;
	line-height: 25px;
	height: 55px;
	overflow: hidden;
	border-bottom: 1px solid rgba(172,172,172,.5)
}

.loop-slider ul li a h2 {
	color: #07C;
}

.loop-slider ul li .product-img {
	width: 100%;
}

.loop-slider ul li .product-img img {
	display: block;
	width: 90%;
	margin: auto;
}

.loop-slider ul li .product-price {
	position: relative;
	width: 100%;
	height: 50px;
}

.loop-slider ul li .product-price .reg-price {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.loop-slider ul li .product-price .sale-price {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.loop-slider ul li .product-buttons {
	position: relative;
	width: 100%;
	height: 35px;
}

.loop-slider ul li .product-buttons .favorite,
.loop-slider ul li .product-buttons .detail
 {
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 5px;
	position: absolute;
	transition: .2s;
}

.loop-slider ul li .product-buttons .favorite {
	top: 0;
	left: -40px;
}

.loop-slider ul li .product-buttons .detail {
	top: 0;
	right: -40px;
}

.loop-slider ul li .product-buttons .atc {
	width: 55%;
	text-align: center;
	border-radius: 5px;
	height: 35px;
	line-height: 35px;
	margin: auto;
}

.loop-slider ul li .product-buttons .favorite:before {
	font-family: 'Vedo';
	content: '\E803';
	font-size: 1.1em;
}

.loop-slider ul li .product-buttons .detail:before {
	font-family: 'Vedo';
	content: '\E80E';
	font-size: 1.2em;
}

.owl-theme .owl-controls .owl-page {
	display: inline-block;
}

.owl-theme .owl-controls .owl-page span {
	background: gray;
	display: block;
}

.loop-slider .owl-carousel-homepage-slider .owl-controls .owl-pagination {
	margin: auto;
	display: block;
	text-align: center;
}

.loop-slider .owl-carousel-homepage-slider .owl-controls .owl-pagination .owl-page {
	display: inline-block;
	margin: 2px;
	width: 12px;
	height: 12px;
	border: 1px solid gray;
	border-radius: 50%;
}

.loop-slider .owl-carousel-homepage-slider .owl-controls .owl-pagination .owl-page.active {
	background-color: gray;
}

/*.loop-slider .owl-carousel-homepage-slider .owl-controls .owl-buttons {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}*/

.loop-slider .owl-carousel-homepage-slider .owl-controls .owl-buttons .owl-next,
.loop-slider .owl-carousel-homepage-slider .owl-controls .owl-buttons .owl-prev {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: block;
}

.loop-slider .owl-carousel-homepage-slider .owl-controls .owl-buttons .owl-next {
	right: 10px;
}

.loop-slider .owl-carousel-homepage-slider .owl-controls .owl-buttons .owl-prev {
	left: 10px;
}

.loop-slider .owl-carousel-homepage-slider .owl-controls .owl-buttons .owl-prev:before {
	font-size: 1.7em;
	font-family: 'Vedo';
	content: '\F0A8';
	color: #B0B0B0;
	transition: .3s;
}

.loop-slider .owl-carousel-homepage-slider .owl-controls .owl-buttons .owl-next:before {
	font-size: 1.7em;
	font-family: 'Vedo';
	content: '\F0A9';
	color: #A9A9A9;
	transition: .3s;
}

.loop-slider .owl-carousel-homepage-slider .owl-controls .owl-buttons .owl-next:hover:before,
.loop-slider .owl-carousel-homepage-slider .owl-controls .owl-buttons .owl-prev:hover:before {
	color: #6D6D6D;
	transition: .3s;
}

/* Product slider hover */

.loop-slider ul li:hover {
	background: rgba(186,186,186,.1);
	box-shadow: 0 0 9px 0 #ADADAD;
}

.loop-slider ul li:hover .product-buttons .favorite {
	left: 1%;
	transition: .5s;
}

.loop-slider ul li:hover .product-buttons .detail {
	right: 1%;
	transition: .5s;
}

/*Homepage Sidebar */
.sidebar-home {
	padding: 0 10px;
}

.sidebar-home li{
	list-style: none
}

/* Homepage Loop Featured */

.homepage-loop-featured {
	width: 100%;
}

.homepage-loop-featured section {
	margin: 0;
}

.homepage-loop-featured .homepage-loop-featured-heading {
	padding: 0;
}

.homepage-loop-featured .homepage-loop-featured-content ul {
	margin: 15px 0;
	padding: 0;
}

.homepage-loop-featured .homepage-loop-featured-heading h1 {
	padding: 8px 15px;
	font-weight: bold;
	font-size: 1.3em;
	margin: 0;
	cursor: pointer;
}

.homepage-loop-featured .homepage-loop-featured-content .row{
	list-style-type: none;
}

.homepage-loop-featured-content li {
	margin: 10px 0;
	cursor: pointer;
}

.homepage-loop-featured-content li a:first-child{
	margin-top: 10px;
	display: block;
}

.homepage-loop-featured-content li img {
	width: 100%;
	display: block;
}

.homepage-loop-featured-content li .product-rating {
	width: 100%;
	text-align: center;
	display: block;
}

.homepage-loop-featured-content li .product-rating .star-fill:before {
	font-family: Vedo;
	content: '\E802';
	color: yellow;
	font-size: 1.3em;
}

.homepage-loop-featured-content li .product-rating .star-null:before {
	font-family: Vedo;
	content: '\E801';
	color: yellow;
	font-size: 1.3em;
}

.homepage-loop-featured-content li .product-rating .star-half:before {
	font-family: Vedo;
	content: '\F123';
	color: yellow;
	font-size: 1.3em;
}

.homepage-loop-featured-content li h2 {
	font-family: Verdana, sans-serif;
	font-size: 1.2em;
	margin: 10px 5px;
	height: 50px;
	line-height: 25px;
	overflow: hidden;
	color: #00AEEE;
}

.homepage-loop-featured-content li .product-price {
	width: 100%;
	height: 50px;
	position: relative;
	margin-bottom: 10px;
}

.homepage-loop-featured-content li .product-price p {
	color: #3C3C3C;
	position: absolute;
	left: 5%;
	top: 0;
}

.homepage-loop-featured-content li .product-price .reg-price {
	position: absolute;
	left: 5%;
	top: 0;
}

.homepage-loop-featured-content li .product-price .sale-price {
	position: absolute;
	left: 5%;
	bottom: 0;
}

.homepage-loop-featured-content li .product-price .atc-circle {
	background: #D5D5D5;
	width: 45px;
	height: 45px;
	margin: 2.5px;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	border-radius: 50%;
}

.homepage-loop-featured-content li .product-price .atc-circle:before {
	font-family: Vedo;
	content: '\F218';
	font-size: 1.7em;
	display: block;
	margin-top: .2vw;
	color: #FFF;

}

/* Featured Product Hover */
.homepage-loop-featured-content li:hover {
	transition: .1s;
	box-shadow: 0 0 9px 0 #ADADAD;
}


/* Homepage Loop Category */

.homepage-loop-category-heading {
	width: 100%;
}

.homepage-loop-category-heading h1 {
	padding: 6px 10px;
	font-size: 1.4em;
	cursor: pointer;
	margin: 0;
}

.homepage-loop-category-heading h1.active {
	cursor: pointer
}

.homepage-loop-category-content ul {
	margin: 0;
	display: block;
	padding: 15px 0;
}

.homepage-loop-category-content ul li {
	display: block;
	padding: 10px 0;
}

.homepage-loop-category-content ul .row {
	margin: 0;
	padding: 0;
}

.homepage-loop-category-content ul li .cat-img {
	display: block;
	position: relative;
	margin: 0;
}

.homepage-loop-category-content ul li .cat-img img {
	width: 95%;
	height: auto;
	display: block;
	margin: auto;
}

.homepage-loop-category-content ul li .cat-sale {
	padding: 3px 5px;
	position: absolute;
	top: 0;
	left: 0;
	font-size: .8em;
	font-weight: bold;
}

.homepage-loop-category-content ul li .cat-right-side {
	display: block;
	width: 100%;
}

.homepage-loop-category-content ul li h2 {
	font-family: Verdana, sans-serif;
	font-size: 1.2em;
	margin: 0;
	height: 50px;
	overflow: hidden;
	display: block;
	color: #00AEEE;
}

.homepage-loop-category-content ul li .cat-price .product-rating {
	display: block;
}

.homepage-loop-category-content ul li .cat-price {
	display: block;
	position: relative;
	height: 60px;
}

.homepage-loop-category-content ul li .cat-price .reg-price {
/*	position: absolute;
	top: 0;
	left: 0;
}*/
	display: none;
}

.homepage-loop-category-content ul li .cat-price .sale-price {
	position: absolute;
	bottom: 0;
	left: 0;
}

.homepage-loop-category-content ul li .cat-price .atc-circle {
	position: absolute;
	top: 20%;
	right: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #E0E0E0;
	text-align: center;
	padding-top: .2vw;
}

.homepage-loop-category-content ul li .cat-price .atc-circle:before {
	font-family: Vedo;
	
	content: '\F218';
	font-size: 1.4em;
	color: #fff;
}

/* Homepage Category Hover */

.homepage-loop-category-content ul li:hover {
	box-shadow: 0 0 9px 0 #ADADAD;
}

.homepage-loop-category-content ul li:hover .atc-circle {
	transition: .1s;
}

.homepage-loop-category-content li .product-rating .star-fill:before {
	font-family: Vedo;
	content: '\E802';
	color: yellow;
	font-size: 1.3em;
}

.homepage-loop-category-content li .product-rating .star-null:before {
	font-family: Vedo;
	content: '\E801';
	color: yellow;
	font-size: 1.3em;
}

.homepage-loop-category-content li .product-rating .star-half:before {
	font-family: Vedo;
	content: '\F123';
	color: yellow;
	font-size: 1.3em;
}

/* Featured Product Big */


.featured-product-widget {
	border: 2px solid gray;
	width: 100%;
}

footer {
	background: black;
}

.homepage-marketplace-wrapper {
	background: magenta;
	width: 100%;
}

